.cardBody {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: none;
}
.cardBody .pressureHumidity{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
i{
    color: #000;
}
@media (max-width: 750px){
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1.2em;
    }
    h2{
        font-size: 1.9em;
    }
    h4{
        font-size: 1.3em;
    }
}
