.detailsBody {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsBody p {
  font-size: 3em;
  color: whitesmoke;
  width: 50%;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 750px) {
    .detailsBody p{
        font-size: 3em;
        width: 100%;
    }
}
